# Moving around
alias sites='cd ~/Sites/'
alias desk='cd /Users/andredublin/Desktop'
alias dl='cd /Users/andredublin/Downloads'
alias home='cd ~'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

# SSH
alias v4dev='ssh adublin@v4dev.com'
alias rpmlive='ssh andre@108.171.176.232'
alias rpmdev='ssh andre@rpmcornerstone'
alias server='ssh andredub@andredublin.com'

# SSHFS
alias mountv4dev='sshfs adublin@v4dev.com:/home/adublin/ ~/SSHFS/v4dev -oauto_cache,reconnect,defer_permissions,negative_vncache,volname=v4dev'
alias mountrpmlive='sshfs andre@108.171.176.232:/ ~/SSHFS/rpmlive -oauto_cache,reconnect,defer_permissions,negative_vncache,volname=rpmlive'

# Shortcuts
alias r='rails'
alias v='vi'
alias g='git'
alias gk='gitk --all 2> /dev/null &'
alias ex='exit'
alias ren='mv'
alias cl='clear'
alias pgstart='pg_ctl -D /usr/local/var/postgres -l /usr/local/var/postgres/server.log start'
alias pgstop='pg_ctl -D /usr/local/var/postgres stop -s -m fast'
alias pgrestart='pg_ctl restart'
alias pgctl='pg_ctl --help'
alias pg='psql'
alias mystart='mysql.server start'
alias mystop='mysql.server stop'
alias myrestart='mysql.server restart'
alias mysql='mysql -u root'
alias redis='redis-server /usr/local/etc/redis.conf'
alias apstart='sudo apachectl start'
alias apstop='sudo apachectl stop'
alias aprestart='sudo apachectl graceful'
alias zshconfig="vi ~/.zshrc"
alias android="./Android/tools/android"

# Listing stuff
alias ll='ls -Al'          # show hidden files
alias lx='ls -lb'          # sort by extension
alias lk='ls -lSr'         # sort by size
alias lc='ls -lcr'         # sort by change time
alias lu='ls -lur'         # sort by access time
alias lt='ls -ltr'         # sort by date
alias lm='ls -al | more'   # pipe through more
alias glx='ls -lb | grep'  # sort by extension and regex search'
alias gps='ps -A | grep'   # list processes and regex search'

# Enhance WHOIS lookups
alias whois='whois -h whois-servers.net'

# Flush Directory Service cache
alias flush='dscacheutil -flushcache'
