# Moving around
alias sites='cd ~/Sites/'
alias desk='cd /Users/dublinan/Desktop'
alias dl='cd /Users/dublinan/Downloads'
alias home='cd ~'

# FS
alias mountkiz='mount -t smbfs //andre.dublin@kizcrews035/Users /Volumes/share/KIZ'

# Shortcuts
alias r='rails'
alias g='git'
alias gk='gitk --all 2> /dev/null &'
alias ex='exit'
alias ren='mv'
alias cl='clear'
alias pgstart='pg_ctl -D /usr/local/var/postgres -l /usr/local/var/postgres/server.log start'
alias pgstop='pg_ctl -D /usr/local/var/postgres stop -s -m fast'
alias pgrestart='pg_ctl restart'
alias pgctl='pg_ctl --help'
alias pg='psql'
alias mystart='mysql.server start'
alias mystop='mysql.server stop'
alias myrestart='mysql.server restart'
alias mysql='mysql -u root'
alias redis='redis-server /usr/local/etc/redis.conf'
alias apstart='sudo apachectl -k start'
alias apstop='sudo apachectl -k stop'
alias aprestart='sudo apachectl -k graceful'
alias adb='/Applications/Android/platform-tools/adb'
alias android='/Applications/Android/tools/android'
alias vim='/Applications/MacVim.app/Contents/MacOS/Vim'

# Listing stuff
alias glx='ls -lAFh | grep'  #long list, show almost all, show type, human readabl pipe regex search'

# tmux usage
alias tn='tmux new -s'
alias ta='tmux attach -t'
alias tk='tmux kill-session -t'
alias tls='tmux ls'

# Enhance WHOIS lookups
alias whois='whois -h whois-servers.net'

# IP Stuff
alias ip='dig +short myip.opendns.com @resolver1.opendns.com'
alias myip='ifconfig | grep "inet " | grep -v 127.0.0.1 | cut -d\   -f2'

# Flush Directory Service cache
alias flush='dscacheutil -flushcache;sudo killall -HUP mDNSResponder'
