# Moving around
alias sites='cd ~/Sites/'
alias desk='cd /Users/dublinan/Desktop'
alias dl='cd /Users/dublinan/Downloads'
alias home='cd ~'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

# FS
alias mountkiz='mount -t smbfs //andre.dublin@kizcrews035/Users /Volumes/share/KIZ'

# Shortcuts
alias r='rails'
alias v='vi'
alias g='git'
alias gk='gitk --all 2> /dev/null &'
alias ex='exit'
alias ren='mv'
alias cl='clear'
alias pgstart='pg_ctl -D /usr/local/var/postgres -l /usr/local/var/postgres/server.log start'
alias pgstop='pg_ctl -D /usr/local/var/postgres stop -s -m fast'
alias pgrestart='pg_ctl restart'
alias pgctl='pg_ctl --help'
alias pg='psql'
alias mystart='mysql.server start'
alias mystop='mysql.server stop'
alias myrestart='mysql.server restart'
alias mysql='mysql -u root'
alias redis='redis-server /usr/local/etc/redis.conf'
alias apstart='sudo apachectl start'
alias apstop='sudo apachectl stop'
alias aprestart='sudo apachectl graceful'
alias zshconfig='vi ~/.zshrc'
alias android='./Android/tools/android'
alias repl='~/repl'

# Listing stuff
alias ll='ls -Al'          # show hidden files
alias lx='ls -lb'          # sort by extension
alias lk='ls -lSr'         # sort by size
alias lc='ls -lcr'         # sort by change time
alias lu='ls -lur'         # sort by access time
alias lt='ls -ltr'         # sort by date
alias lm='ls -al | more'   # pipe through more
alias glx='ls -lb | grep'  # sort by extension and regex search'
alias gps='ps -A | grep'   # list processes and regex search'

# Enhance WHOIS lookups
alias whois='whois -h whois-servers.net'

# IP Stuff
alias ip='dig +short myip.opendns.com @resolver1.opendns.com'
alias myip='ifconfig | grep "inet " | grep -v 127.0.0.1 | cut -d\   -f2'

# Flush Directory Service cache
alias flush='dscacheutil -flushcache'
