# prefer US English and use UTF-8
export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"

# don't clear the screen after quitting a manual page
export MANPAGER="less -X"

# rbenv
export RBENV_ROOT=/usr/local/var/rbenv
if
  which rbenv > /dev/null;
  then eval "$(rbenv init -)";
fi

### Added by the Heroku Toolbelt
export PATH="/usr/local/heroku/bin:$PATH"

# sbin for homebrew
export PATH="$PATH:/usr/local/sbin"

# npm binaries
export PATH="$PATH:/usr/local/share/npm/bin"

# packer binaries
export PATH="$PATH:/usr/local/packer"

# android tools
export ANDROID_HOME="/Applications/android"
export PATH="$PATH:$ANDROID_HOME/tools"

# java
export PATH="$PATH:/Library/Java/Home"

# vim forever!
export EDITOR="vim"

export GIT_MERGE_AUTOEDIT=no

# boot2docker
export DOCKER_TLS_VERIFY="1"
export DOCKER_HOST="tcp://192.168.99.100:2376"
export DOCKER_CERT_PATH="/Users/dublinan/.docker/machine/machines/default"
export DOCKER_MACHINE_NAME="default"

# activate autoenv
source /usr/local/opt/autoenv/activate.sh

# gopath
export GOPATH="$HOME/Sites/golang"
export PATH="$PATH:$GOPATH/bin"

# NVM
export NVM_DIR="/Users/dublinan/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"  

# Idris
export PATH="$PATH:$HOME/Library/Haskell/bin"

