# prefer US English and use UTF-8
export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"

# don't clear the screen after quitting a manual page
export MANPAGER="less -X"

# rbenv
export RBENV_ROOT=/usr/local/var/rbenv
if
  which rbenv > /dev/null;
  then eval "$(rbenv init -)";
fi

### Added by the Heroku Toolbelt
export PATH="/usr/local/heroku/bin:$PATH"

# gopath
export GOPATH="/Users/dublinan/Sites/go_projects"
export PATH=$PATH:$GOPATH/bin

# Add environment variable COCOS_CONSOLE_ROOT for cocos2d-x
export COCOS_CONSOLE_ROOT=/Applications/cocos2d-x-3.2/tools/cocos2d-console/bin
export PATH=$COCOS_CONSOLE_ROOT:$PATH

# Add environment variable ANDROID_SDK_ROOT for cocos2d-x
export ANDROID_SDK_ROOT=/Applications/Android/sdk
export PATH=$ANDROID_SDK_ROOT:$PATH
export PATH=$ANDROID_SDK_ROOT/tools:$ANDROID_SDK_ROOT/platform-tools:$PATH

# Add environment variable ANT_ROOT for cocos2d-x
export ANT_ROOT=/usr/local/Cellar/ant/1.9.4/libexec/bin
export PATH=$ANT_ROOT:$PATH

# append sbin for homebrew
export PATH="$PATH:/usr/local/sbin"
# append npm binaries
export PATH="$PATH:/usr/local/share/npm/bin"
# append packer binaries
export PATH="$PATH:/usr/local/packer"
# android tools
export PATH="$PATH:/Applications/Android/sdk/tools"

# vim forever!
export EDITOR="vim"

export GIT_MERGE_AUTOEDIT=no

# boot2docker
export DOCKER_HOST=tcp://192.168.59.103:2375

# activate autoenv
source /usr/local/opt/autoenv/activate.sh
