# create a new directory and enter it
function mkd() {
  mkdir -p "$@" && cd "$@"
}

# remove images
function drmi() {
  docker rmi $(docker images -f "dangling=true" -q)
}

# remove containers
function drmc() {
  docker rm $(docker ps -a -q)
}
