[user]
	name = Andre Dublin
	email = 81dublin@gmail.com
[apply]
	whitespace = nowarn
[github]
	user = dublinan
	token = editme
[color]
   ui = auto
[alias]
   co = checkout
   p = push
   pl = pull
   ci = commit
   di = diff
   dc = diff --cached
   amend = commit --amend
   aa = add --all
   fa = fetch --all
   st = status
   aa = add --all
   l = log --graph --abbrev-commit --date=relative
[format]
   pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset
