[user]
    name = Andre Dublin
    email = 81dublin@gmail.com
[apply]
    whitespace = nowarn
[github]
    user = dublinan
    token = editme
[color]
    ui = auto
[color "branch"]
    current = cyan reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[alias]
    co = checkout
    pom = push origin master
    pullff = pull --ff
    ci = commit
    logd = log --diff-filter=D --summary
    graph = log --graph --abbrev-commit --date=relative
    di = diff
    ds = diff --staged
    dc = diff --cached
    amend = commit --amend
    undo = reset --soft HEAD^
    aa = add --all
    fa = fetch --all
    st = status -vb
    hist = log --pretty=format:\"%h %ad | %s%d [%cn]\" -p -2 --graph --date=short
    remote = remote --verbose
    br = branch -a
    bv = branch -avv
    bd = branch -D
    cp = cherry-pick
    mergeff = merge --no-ff
    merged = branch --merged
    nomerged = branch --no-merged
    conflicts = diff --name-only --diff-filter=U
    tag = tag -a
    add = add -u
    squish = rebase -i @{u}
[format]
    pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset
[core]
    excludesfile = ~/.gitignore_global
    quotepath = false
[push]
    # 'git push' should only do the current branch, not all
    default = current
[branch]
    # always setup 'git pull' to rebase instead of merge
    autosetuprebase = always
[branch "master"]
    rebase = true
[mergetool]
    keepBackup = true
